
<nav id ="general" *ngIf="mostrarNavbar" class="navbar">
  <div class="navbar-left">
    <a [routerLink]="'/'" class="logo-container">

      <span class="logo-text">
        <strong>SKILL</strong> LINK
      </span>
    </a>
  </div>

  <div class="navbar-links" [class.active]="menuAbierto">
    <a [routerLink]="'/expertos'" (click)="cerrarMenu()">Expertos</a>
    <a [routerLink]="'/asesorias'" (click)="cerrarMenu()">Asesorías</a>
    <a [routerLink]="'/nosotros'" (click)="cerrarMenu()">Nosotros</a>
    <a [routerLink]="'/soporte'" (click)="cerrarMenu()">Soporte Técnico</a>
  </div>

  <div class="navbar-right">
    <button class="btn-unete" [routerLink]="'/unete'" (click)="cerrarMenu()">ÚNETE</button>
  </div>

  <!-- Botón hamburguesa -->
  <div class="menu-toggle" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</nav>

<router-outlet></router-outlet>

<footer *ngIf="mostrarFooter" class="footer-skilllink">
  <div class="footer-content">
    <nav class="footer-nav">
      <a [routerLink]="'/'">Inicio</a>
      <a [routerLink]="'/expertos'">Expertos</a>
      <a [routerLink]="'/asesorias'">Asesorías</a>
      <a [routerLink]="'/nosotros'">Sobre Nosotros</a>
      <a [routerLink]="'/soporte'">Soporte Técnico</a>
    </nav>
    <div class="icons">
      <a href="#"><ion-icon name="logo-facebook" class="icon"></ion-icon></a>
      <a href="#"><ion-icon name="logo-google" class="icon"></ion-icon></a>
      <a href="#"><ion-icon name="logo-twitter" class="icon"></ion-icon></a>
      <a href="#"><ion-icon name="logo-linkedin" class="icon"></ion-icon></a>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; 2025 SkillLink. Todos los derechos reservados.
  </div>
</footer>
