<nav *ngIf="mostrarNavbar" class="navbar">
  <div class="navbar-left">
    <!-- Logo dinámico según rol -->
    <a [routerLink]="getHomeRoute()"
       (click)="navigateToHome($event)"
       class="logo-container"
       [class.disabled]="rol === 'ADMIN'">
      <span class="logo-text"><strong>SKILL</strong> LINK</span>
    </a>
  </div>

  <!-- Nav según rol -->
  <div [ngSwitch]="rol" class="navbar-links">

    <!-- Usuario -->
    <ng-container *ngSwitchCase="'USUARIO'">
      <a [routerLink]="'/usuario/usuarioexpertos'">Expertos</a>
      <a [routerLink]="'/usuario/usuarioasesorias'">Asesorías</a>
      <a [routerLink]="'/usuario/usuarionosotros'">Nosotros</a>
      <a [routerLink]="'/usuario/usuariosoporte'">Soporte Técnico</a>
      <button class="btn-unete" (click)="cerrarSesion()">Cerrar sesión</button>
    </ng-container>

    <!-- Asesor -->
    <ng-container *ngSwitchCase="'ASESOR'">

      <a [routerLink]="'/asesor/asesorasesorias'">Asesorías</a>
      <a [routerLink]="'/asesor/asesorsoporte'">Soporte Técnico</a>
      <button class="btn-unete" (click)="cerrarSesion()">Cerrar sesión</button>
    </ng-container>

    <!-- Admin -->
    <ng-container *ngSwitchCase="'ADMIN'">
      <a [routerLink]="'/administrador/tabla-clientes'">Sector Cliente</a>
      <a [routerLink]="'/administrador/tabla-asesores'">Sector Asesor</a>
      <a [routerLink]="'/administrador/tabla-asesorias'">Sector Asesorías</a>
      <button class="btn-unete" (click)="cerrarSesion()">Cerrar sesión</button>
    </ng-container>

    <!-- Landing -->
    <ng-container *ngSwitchDefault>
      <a [routerLink]="'/expertos'">Expertos</a>
      <a [routerLink]="'/asesorias'">Asesorías</a>
      <a [routerLink]="'/nosotros'">Sobre Nosotros</a>
      <a [routerLink]="'/soporte'">Soporte Técnico</a>
      <button class="btn-unete" [routerLink]="'/unete'">Únete</button>
    </ng-container>
  </div>
</nav>

<router-outlet></router-outlet>

<footer *ngIf="mostrarFooter" class="footer-skilllink">
  <div class="footer-content">
    <nav class="footer-nav">
      <a [routerLink]="'/'">Inicio</a>
      <a [routerLink]="'/expertos'">Expertos</a>
      <a [routerLink]="'/asesorias'">Asesorías</a>
      <a [routerLink]="'/nosotros'">Sobre Nosotros</a>
      <a [routerLink]="'/soporte'">Soporte Técnico</a>
    </nav>
    <div class="icons">
      <a href="#"><ion-icon name="logo-facebook" class="icon"></ion-icon></a>
      <a href="#"><ion-icon name="logo-google" class="icon"></ion-icon></a>
      <a href="#"><ion-icon name="logo-twitter" class="icon"></ion-icon></a>
      <a href="#"><ion-icon name="logo-linkedin" class="icon"></ion-icon></a>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; 2025 SkillLink. Todos los derechos reservados.
  </div>
</footer>
